<div class="row">
    <div class="col-xs-12">
        <div style="margin-left: 50px;">
            <img [src]=recipe.imagePath
             class="img-responsive"
             alt=""
             style="max-height: 300px;width: 400px;border-radius: 20px;">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 style="margin-left: 20px;">{{recipe.name }} </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" style="margin-left: 20px;" opentoggle>
            <button
            type="button"
             class="btn btn-primary dropdown-toggle"
             >Manage Recipe<span style="margin-left: 7px;" class="caret"></span>
            </button>
           <ul class="dropdown-menu dropdown-menu-right">
               <li><a style="cursor: pointer;" (click)="ToshoppingList()" *ngIf="ingCheck">To Shopping List</a></li>
               <li><a style="cursor: pointer;" (click)="OnEditRecipe()">Edit Recipe</a></li>
               <li><a style="cursor: pointer;" (click)="OnDeleteRecipe()">Delete Recipe</a></li>
           </ul>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div style="margin-left: 20px;" class="alert alert-success">
                {{recipe.description}}
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <label style="font-size: 20px;margin-left: 25px;" *ngIf="ingCheck"> Ingredients </label>
        <br><br>

        <div *ngFor="let recipeing of recipe.ingredients">
            <div class="list-group-item" style="margin-left: 20px;">
              {{recipeing.name }} - {{recipeing.amount}}
            </div>
        </div>

    </div>
</div>
